*,
*:after,
*:before {
    box-sizing: border-box;
    background: none;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-shadow: none;
    vertical-align: top;
    min-height: 0;
    min-width: 0;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

:root {
    --font-old: 'Cyrillic Old', serif;
    --color-primary: #8b4513;
    --color-secondary: #a0522d;
    --color-text: #333;
    --color-white: #f4f4f4;
    --color-silver: #cccccc;
    --color-grey: #e5e5e5;
    --color-gold: #d4af37;
    --color-gold-accent: #ffe87c;
    --error-text-color: #dc3545;
    --title-font-size: 20px;
    --base-font-size: 16px;
    --small-font-size: 14px;
}

body {
    margin: 0;
    font-family: var(--font-old);
    color: var(--color-text);
    background-color: var(--color-white);
}
